*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background {
    background-image: url(https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card {
    height: 70vh;
    width: 80vw;
    background-color: white;
    display: flex;
}
.image {
    height: 70vh;
    width: 400px;
}
.head {
    margin-top: 20px;
    margin-left: 20px;
}
.dis {
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight:normal ;
    font-size:20px ;
}