*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background {
    background-image: url(https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg);
    /* height: 100vh; */
    width: 100vw;
    background-size: cover;
    padding-top: 20px;
}
.palces {
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.cards {
    height: 400px;
    width: 500px;
    background-color: white;
    margin-bottom: 20px;
}
.cards-contaner {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.image {
    height: 60% ;
    width: 100%;
}
.place {
     margin-top: 20px;
    margin-left: 10px;

}
.dis {
    margin-top: 20px;
    margin-left: 10px;
}
.btn {
    height: 20px;
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 10%;
}